.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.error_msg{
  height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    grid-column: 1/5;
    grid-row: 1/4;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page{
  display: flex;
}
.container-main{
    width: calc(100% - 100px);
    left: 100px;
    top: 95px;
    height: calc(100vh - 100px);
    position: absolute;
    z-index: -1;
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(3,280px);
    height: 100%;
    justify-content: center;
}
.main .chart{
  grid-column: 3/4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}
.activityChart{
  flex-direction: column;
  align-items: flex-start;
}

.main .name{
  grid-column: 1/3;
  grid-row:1;
  display: flex;
    align-items: center;
}
.main .value{
  grid-column:4/5;
  grid-row:2/4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.activity{
  grid-column: 1/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
}
.activity .recharts-legend-wrapper{
top:0px !important;
font-size: 14px;
}
.activity .recharts-cartesian-axis-line{
stroke: none;
}
.activity .recharts-cartesian-axis-tick-line{
  display:none;
}
.activity .recharts-cartesian-axis-tick-value{
  transform: translateY(10px) !important;
}
.activity .recharts-legend-item-text{
  color: #74798C !important;
}
.activity .recharts-default-legend{
    position: relative;
    top: -20px;
    left: -20px;
}
.comp_title{
  margin:0px;
    position: relative;
    font-weight: 500;
    width:90%;
}
.activity_custom-tooltip{
  background-color: #E60000;
  padding:10px 15px;
  color:white;
}
.session{
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}
.session .scoreChart{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.session_custom-tooltip{
  background-color: white;
  padding:1px 10px;
  color:black;
}
.xAxis tspan{
  color:green !important;
}

.session .recharts-yAxis{
  display: none;
}
.session .recharts-cartesian-axis-tick-line, .session .recharts-cartesian-axis-line{
  display: none;
}
.session .recharts-wrapper{
  background-color: #E60000;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  width:100%!important;
  height: 100%!important;
  min-width: 150px;
  max-width: 250px;
}
.session .recharts-surface{
  transform: scaleX(1) translateX(-25px);
}
.session .recharts-line-dots circle{
  display: none;
}
.session .title {
  color: white;
  margin-top: 10px;
  position: absolute;
  z-index: 5;
  opacity: 50%;
  display: flex;
  width:100%;
  justify-content:center;
  min-width: 150px;
  max-width: 250px;
}
.performance{
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.performance .scoreChart{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.performance .recharts-wrapper{
  background-color: #282D30;
  border-radius: 10px;
  position: relative;
  cursor: default;
  width: 100% !important;
  height: 100% !important;
  min-width: 150px;
  max-width: 250px;
}
.performance text{
  text-transform: capitalize;
  font-size: x-small;
}
@media (max-width: 1250px) {
  .main{
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(4,300px);
  margin-left: 50px;
  }
  .activity{
    grid-column: 1/5;
    display: grid;
  }
  .main .value {
    grid-column: 1/5;
    grid-row: 4/4;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin-top:30px;
  }
  .value_main{
    flex-direction: column;
    align-items: center;
}
.value_number{
  align-items: center;
  margin:0px;
}
}
@media (max-width: 1000px) {
  .main{
  justify-content: start;
  }
}