.header {
    height: 75px;
    background-color: #333; /* Couleur de fond du header, changez selon vos besoins */
    color: white; /* Couleur du texte, changez selon vos besoins */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px; /* Espacement interne du header, changez selon vos besoins */
    background:black;
    width: 100%;
    position: fixed;
    z-index:2;
  }
  
  img {
    max-height: 50px; /* Ajustez la hauteur de votre logo selon vos besoins */
  }
  
  
  a {
    text-decoration: none;
    color: white; /* Couleur des liens, changez selon vos besoins */
    padding: 0 15px; /* Espacement des liens, changez selon vos besoins */
  }
  
  a:hover {
    text-decoration: underline; /* Style de survol des liens, changez selon vos besoins */
  }
  